<body>
<div class="container-fluid">
  <div class="row bg-info container-fluid ">
    <div class="col-lg-12">

      <img src="https://cdn-vn.pushdy.com/_uploads/phongvu_live_teko/2894028724594fb39900a2b1a4d1bfa1.png"
           style="width: 100%;height: 100%">
    </div>

  </div>
  <div class="row " style="background: darkblue">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="menu ulli">
        <ul id="ul">
          <li>
            <a href="#"> <span class="bi bi-house-fill"></span> Trang chủ</a>
          </li>
          <li>
            <a href="#"><span class='bi bi-badge-8k-fill'></span> Khuyến mãi</a>
          </li>
          <li>
            <a href="#"><span><span class="bi bi-headset"></span> Tư vấn mua hàng: 1800 6867 </span></a>
          </li>
          <li>
            <a href="#"><span class="bi bi-headset"></span> CSKH: 1800 6865 </a>
          </li>
          <li>
            <a href="#"><span class="bi bi-cart"></span> Giỏ hàng </a>
          </li>


        </ul>

      </div>
    </div>
    <div class="col-lg-2">
      <div class="menu ulli">
        <ul>
          <li>
            <a href="#"><span class="bi bi-person-circle"></span> Đăng nhâp / Đăng ký </a>
          </li>
        </ul>
      </div>

    </div>

  </div>
  <div class="row">
    <div class="col-lg-1 " style="background: floralwhite"></div>
    <div class="col-lg-10" style="background: floralwhite">
      <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid p-4">
          <a class="navbar-brand" href="#">Menu</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" >

              <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                  Sản phẩm
                </a>

                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li  *ngFor="let c of laptopTypeList"><a class="dropdown-item" href="#">{{c.name}}</a></li>

                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">
                  Ram
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">4GB</a></li>
                  <li><a class="dropdown-item" href="#">8GB</a></li>
                  <li><a class="dropdown-item" href="#">12GB</a></li>
                  <li><a class="dropdown-item" href="#">16Gb</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">
                  Màn hình
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Full HD</a></li>
                  <li><a class="dropdown-item" href="#">HD</a></li>
                  <li><a class="dropdown-item" href="#">4K (Ultra HD)</a></li>
                  <li><a class="dropdown-item" href="#">2K (Quad HD)</a></li>
                </ul>
              </li>

            </ul>

          </div>
        </div>
      </nav>

    </div>
    <div class="col-lg-1 " style="background: floralwhite"></div>

  </div>
</div>
</body>
