<section class="shoping-cart spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="shoping__cart__table">
          <table>
            <thead>
            <tr>
              <th class="shoping__product">Sản phẩm</th>
              <th>Giá (VND)</th>
              <th>số lượng</th>
              <th>Đơn giá</th>
              <!--              <th>Hoạt động</th>-->
              <th></th>
            </tr>
            </thead>
            <tbody *ngFor="let item of cart; index as i">
            <tr>
              <td class="shoping__cart__item">
                <img src="{{item.image}}" alt="">
                <h5>{{item.name}}</h5>
              </td>
              <td class="shoping__cart__price">
                {{item.price * (1 - item.discount / 100) | number}}
                <!--                <del *ngIf="item.discount > 0" class="text-secondary ml-2"-->
                <!--                     style="font-size: 17px"> {{item.price | number}}</del>-->
              </td>
              <td class="shoping__cart__quantity">

                <div class="quantity">
                  <input type="button" style="width: 30px;height: 40px"
                         *ngIf="item.quantity > 1" (click)="descQuantity(item.id)" value="-">
                  <div class="pro-qty" style="width: 50px;height: 40px">
                    <input type="text" value="{{item.quantity}}" readonly>
                  </div>
                  <input type="button" style="width: 30px; height: 40px;"
                         (click)="ascQuantity(item.id)" value="+">

                </div>
              </td>
              <td class="shoping__cart__total">
                {{item.price * (1 - item.discount / 100) * item.quantity | number}}
              </td>
              <td class="shoping__cart__item__close">
                <span class="icon_close"></span>
              </td>
              <td>
                <button (click)="deleteCart(item.id)" class="btn-danger">Xóa</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">

      </div>
      <div class="col-lg-6">

      </div>
      <div class="col-lg-6">
        <div class="shoping__checkout">

          <ul>
            <li>Tổng đơn hàng:<span>{{cartCount}}</span></li>
            <!--            <li>Subtotal <span>$454.98</span></li>-->
            <li>Tổng tiền:<span>{{finalPrice|number}}</span></li>
          </ul>
          <button style="height: auto;width: auto" class="primary-btn">Thanh Toán</button>
        </div>
      </div>
    </div>
  </div>
</section>
