* {
  margin: 0;
  padding: 0;
}

/*==Style cơ bản cho website==*/
body {
  font-family: sans-serif;
  color: orangered;
  overflow-x: hidden;
}


/*==Style cho menu===*/
.menu ul {
  /*background: #1F568B;*/
  list-style-type: none;
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  color: aqua;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
}

.menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
}

a {
  text-decoration: none;
  color: black;
  display: block;
}

.menu a {
  text-decoration: none;
  color: white;
  display: block;
}

.menu a:hover {
  background: darkslateblue;
  color: white;
}

.nut_dropdown {
  background-color: white;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* Thiết lập vị trí cho thẻ div với class dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}

/* Nội dung Dropdown */
.noidung_dropdown {
  /*Ẩn nội dụng các đường dẫn*/
  display: none;
  position: absolute;
  background-color: cyan;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Thiết kế style cho các đường dẫn tronng Dropdown */
.noidung_dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.hienThi {
  display: block;
}
