<body style="background: antiquewhite;height: 1650px">
<div>
  <div class="row">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://lh3.googleusercontent.com/3rLhW-kNUBfPOpGliBG19CEQ2tPOhRiyGBp80ed8aq8nym40wz5-bY4GYrREMUXh3bPLgTzK5R2A7FHTf51cn9UbBmKLw7sx=w1920-rw"
            class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img
            src="https://lh3.googleusercontent.com/9mTXqBko4UuPbuZyyhwXWV3vsejqDNV1T-06t_eKO7_2KBoZ6nyFUALxpV_rahR5v5vemOqtA93nXOVsHfaxAMjJNRREnYdGvQ=w1920-rw"
            class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img
            src="https://lh3.googleusercontent.com/YhZudHDQJp7_NPPmxmk0VQXLg2fNrPKuj7c3nm2EfxbqvnBAoouf3oUng2AGD2-p59RxobXMEqcoGMqWr9KFNmfdB6Cz9E3MsQ=w1920-rw"
            class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="row " style="margin-top: 20px">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <div class="row text-center "><h1>Laptop</h1>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Nhập từ khóa tìm" aria-label="Search"
                 style="border-radius:7px;width: 100px">
          <button class="btn bg-primary" type="submit" style="width: 40px;border-radius:7px">
            <span id="boot-icon" class="bi bi-search" style="font-size: 20px; color: white;"></span>
          </button>
        </form>
      </div>
      <div class="row" id="card" style="margin: auto;">
        <div class="container mt-2">
          <div class="row" *ngIf="action">
            <div class="col-md-3 col-sm-6 col-sm-12" *ngFor="let laptop of laptopList" >
              <div class="card card-block">
                <a href="">
                  <!--                <h4 class="card-title text-right"><i class="material-icons">settings</i></h4>-->
                  <img
                    src="{{laptop.image}}"
                    alt="Photo of sunset">
                  <h3 class="card-title mt-3 mb-3 fw-bold" style="font-size:17px;"><b>{{laptop.name}} {{laptop.cpu}} /RAM{{laptop.ram}}</b></h3>
                  <p class="card-text " style="color: blue;height: 10px"><b>{{laptop.discountMoney | number}}đ</b></p>
                  <p class="card-text "
                     style="color: #aaaaaa;height: 80px;text-decoration-line: line-through;font-size: 14px">{{laptop.price | number}}đ</p>
                </a>
              </div>

            </div>

          </div>
        </div>
        <div class="col-lg-1"></div>
      </div>
      <div class="row" style="margin-top: 20px">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
          <div *ngIf="numberRecord < totalRecord - 1">
          <button style="width: 100px;margin-left: 25%" type="button" class="btn btn-success" (click)="loadMore()" *ngIf="action">
            Xem thêm
          </button>
          </div>
        </div>
        <div class="col-lg-5"></div>
      </div>
    </div>
  </div>
</div>
</body>

