<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-lg-5 col-sm-12 col-md-6">
        <h6>Hỗ trợ khách hàng</h6>
        <p><a href="">Thẻ ưu đãi</a></p>
        <p><a href="">Trung tâm bảo hành</a></p>
        <p><a href="">Thanh toán và giao hàng</a></p>
        <p><a href="">Dịch vụ sửa chưa và bảo trì</a></p>
        <p><a href="">Doanh nghiệp thân thiết</a></p>
      </div>

      <div class="col-lg-5 col-xs-6 col-md-3">
        <h6>Chính sách Mua hàng và Bảo hành</h6>
        <p><a href="">Quy định chung</a></p>
        <p><a href="">Chính sách bảo mật thông tin</a></p>
        <p><a href="">Chính sách vận chuyển và lắp đặt</a></p>
        <p><a href="">Chính sách bảo hành</a></p>
        <p><a href="">Chính sách đổi trả và hoàn tiền</a></p>
        <p><a href="">Quy đinh giá cả và hình thức thanh toán</a></p>
        <p><a href="">Chính sách trả góp</a></p>
        <p><a href=""></a></p>
        <p><a href=""></a></p>

      </div>

      <div class="col-lg-2 col-xs-6 col-md-3">
        <h6>Thông tin liên hệ</h6>
        <p style="font-size: 13px">Hỗ trợ khách hàng:</p>
        <a href="" style="color: blue">vovanty0504@gmail.com</a>
        <p style="font-size: 13px">Gọi mua hàng: <a href="" style="color: blue">18006867</a></p>
        <p style="font-size: 13px">Gọi chăm sóc: <a href="" style="color: blue">18006865</a></p>
      </div>

    </div>
    <br>
  </div>
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-lg-2 col-sm-12 col-md-6">-->

<!--      </div>-->

<!--      <div class="col-lg-6 col-xs-6 col-md-3">-->

<!--        <h6 style="text-align: center">Danh sách các ngân hàng thanh toán online</h6>-->
<!--        <img src="https://shopfront-cdn.tekoapis.com/static/vnpay_banks.png" alt="" class="css-1equo6g">-->
<!--      </div>-->

<!--      <div class="col-lg-4 col-xs-6 col-md-3">-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <div class="container" style="margin-top: 30px;">
    <div class="row">
      <div class="col-lg-5 col-sm-12 col-md-6">
        <h6>CÔNG TY CỔ PHẦN THƯƠNG MẠI - DỊCH VỤ PHONG VŨ</h6>
        <pre style="font-size: 13px">© 1997 - 2020 Công Ty Cổ Phần Thương Mại
CODE GYME Giấy chứng nhận đăng ký doanh nghiệp:
030499835 do Sở KH-ĐT TP.HCM
cấp lần đầu ngày 30 tháng 05 năm 2007</pre>
      </div>

      <div class="col-lg-5 col-xs-6 col-md-3" style="font-size: 13px">
        <p><b>Địa chỉ trụ sở chính:</b></p>
        <p>Tầng 5, Số 117-119-121 Nguyễn Du, Phường Bến Thành, Quận 1, Thành Phố Hồ Chí Minh</p>
        <p><b>Văn phòng điều hành miền Bắc:</b></p>
        <p>Tầng 6, Số 1 Phố Thái Hà, Phường Trung Liệt, Quận Đống Đa, Hà Nội</p>
        <p><b>Văn phòng điều hành miền Nam: :</b></p>
        <p>Tầng 11 Minh Long Tower, số 17 Bà Huyện Thanh Quan, Phường Võ Thị Sáu, Quận 3, TP. Hồ Chí Minh</p>

      </div>

      <div class="col-lg-2 col-xs-6 col-md-3">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>

  </div>
</footer>
